body{
    background: linear-gradient(to right, #ffa9f9, #fff6b7);
    font-family: 'Fraunces', sans-serif;
    
}

.container {
    display: flex;
    justify-content: space-around; 
    align-items:flex-start; 
    margin-top: 50px;
    font-size:x-large;
    font-family: 'Fraunces', sans-serif;
  }
  
  .caixa {
    background: transparent;
    padding: 100px;
    border-radius: 10px;
    text-align:center;
    max-width: 300px;
  }
  
  h2 {
    font-family: 'Fraunces', serif;
    margin-bottom: 10px;
    color: #7c4946;
  }
  
  ul {
    text-align: left; 
    list-style-type:disc;
    line-height: 1.8;
    width: 100%;
    padding-left: 30px; 
}
 
  .linha-bolinhas {
    width: 90%;
    margin: 40px auto; 
    border-top: 10px dotted #7c4946;
}

a {
    color: black;
    font-size: 15px ;
    font-family:'Fraunces', sans-serif;
    top: 170%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}



.button {
    background-color: #7c4946;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-family:'Fraunces', sans-serif;
    text-decoration: none;
    padding: 8px 16px;
    
}

a {
    color: black;
    font-size: 15px ;
    font-family:'Fraunces', sans-serif;
    top: 270%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 2;


}



.buttom {
    background-color: #7c4946;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-family:'Fraunces', sans-serif;
    text-decoration: none;
    padding: 8px 16px;
    position: absolute;
    top: 1100px;
    left: 100px;
    font-weight: 400;
}
